.contact-header{
    display: grid;
    justify-content: space-around;

}
.contact-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
}
.contact-img{
    width: 100vw;
    height:92vh;
    transform: translateX(-40px); 
    object-fit: cover;
}
.contact-links{
    text-decoration: none;
    color: white;
    padding: 12px;
}
.contacts{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 12%);
}
  